      <p id="notice"></p>
      <div class="container">
      <div class="row">
            <div class="mx-auto">
                  <% if @book.errors.any?%>
<%=@book.errors.count%>error。
<%@book.errors.full_messages.each do |message|%>
<%=message%>
<%end%>
<%end%>
      <h1>Editing Book</h1>
      <%=form_with model:@book,local:true do |f|%>
      <p>Title</p>
      <%=f.text_field :title%>
      <p>Opinion</p>
      <%=f.text_area :body%>
      <div><%=f.submit "Update Book",class:'btn btn-success'%></div>
      <%end%>
      <%=link_to "Show",book_path(@book)%>
      |
      <%=link_to "Back",books_path%>
      </div>
      </div>
      </div>
